
<div class="card" style="width: 18rem;">
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burger-block devoured=true}}
        {{/if}}
  {{/each}}
</div>

<hr>

<div class="card" style="width: 18rem;">
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block devoured=flase}}
        {{/unless}}
  {{/each}}
</div>

<form>
     <div class="form-group">
        <label for="exampleFormControlInput1">Burger Name : </label>
        <input  class="form-control" id="exampleFormControlInput1" placeholder="John Burger">
    </div>
    <button type="submit" class="btn btn-info" id="submit">Submit</button>
</form>