<div class="row">
<div class="col-6">
{{#each burgers}}
<div class="card" style="width: 18rem;">
    
        {{#if devoured}}
            {{> burgers/burger-block devoured=0}}
        {{/if}}
</div>
{{/each}}
</div>

<div class="col-6">
{{#each burgers}}
<div class="card" style="width: 18rem;">
    
        {{#unless devoured}}
            {{> burgers/burger-block devoured=1}}
        {{/unless}}
 
</div>
 {{/each}}
</div>
</div>
<hr>
<form>
     <div class="form-group">
        <label for="exampleFormControlInput1">Burger Name : </label>
        <input  class="form-control" id="exampleFormControlInput1" placeholder="John Burger">
    </div>
    <button type="submit" class="btn btn-info" id="submit">Submit</button>
</form>