<div class="card-body">
    <h5 class="card-title">{{burger_name}}</h5>
    <a href="#" class="btn btn-primary eat-it" data-id={{id}} data-status={{devoured}}>{{#if devoured}} Refill x 1 {{else}} Eat It! {{/if}}</a>
  </div>